body {
     
   background-color: rgb(149, 149, 231);
   margin: 10%;
   padding-top: 0%

}

h1{

   color: purple;
   background-color: aliceblue;


}
h2{

background-color: aliceblue;

}